   <footer class="bg-gradient-black-bottom-transparent pb-30px">
            <div class="container">
                <div class="row footer-bottom border-top border-color-transparent-white-light pt-30px align-items-center">
                    <div class="col-lg-9 text-center text-lg-start">
                        <span class="fs-14 d-block lh-22" style="color: #0D1517;">© 2025 «Yohohobet»</span>
                    </div>
                    <div class="col-lg-3 text-lg-end text-center md-mt-15px">
                        <a href="https://yohoho.bet/" class="d-inline-block align-middle"><img src="{{ url('theme://png/logo.png') }}" ></a>
                    </div>
                </div>
            </div> 
        </footer>